/* body,html */
/* align-items: center; */

.App {
  text-align: center;
  /* color: #CEF9F2; #C0C0C0; */
  
  width: 100%;
  height: 600px;

  /* background-image: url(./bg/bridge-bg.jpg); */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
.submit_btn {
  background-color: #6e967a;
  color: #fff;
  font-size: 1.5em;
}

.img_item {
  height: 200px;
  width: 300px;
}

.log_in_btn {
  background-color: #6e967a;
  color: #fff;
  font-size: 1.5em;

}

.nav_btn {
  color: #6e967a;
}

html {
  background-color: #222;
}

.login {
  background-image: url(./bg/fkioro-bg.jpg);
  /* width: 100%; */
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.general_bg {
  background-image: url(./bg/bridge-bg.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.space {
  height: 300px;
}

.footer_space {
  height: 200px;
}

.logo {
  height: 50px;
  /* float: left; */
}

.subtitle {
  color: #6e967a; /* CEF9F2 80C2AF rgb(145, 145, 145) */
  font-size: 1.5em;
}

p, h2 {
  color: #6e967a;
}

.nav {
 /*222 2A2D34 2A2F3A*/
  background-color: #1e1e1e; 
  height: 65px;

  /* #414141 #C0C0C0 99FFFF rgb(19,  115, 161) */
  /* padding: 40px; */
  /* color: white; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  color: #80C2AF;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
