/* body,html */
/* align-items: center; */

.App {
  text-align: center;
  /* color: #CEF9F2; #C0C0C0; */
  width: 100%;
  /* height: 700px; */

  /* background-image: url(./bg/bridge-bg.jpg); */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.ss{
  border-radius: 100px;
}

.radiu {
  border-radius: 8px;
}

.input_right_border {
  border: 3px solid #6e967a;
  font-size: 1.2em!important; /* !important to override styles */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  /* outline: none !important;
  box-shadow: none !important; */
}


/* .btn_reverse {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
} */

/* .th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding-bottom: 10px;
} */

.btn_reverse:focus {
  box-shadow: none;
}

.btn_reverse:hover {
  color: rgb(192, 192, 192);
    /* 255, 255, 255); */
}

.btn_reverse {
  padding: 0px;
  color: #fff;
}



.btn_download:hover {
  color: rgb(192, 192, 192);
    /* 255, 255, 255); */
}

.btn_download {
  color: #fff;
  /* rgb(192, 192, 192); */
}

.btn_left_border:hover {
  color: #222;
}

.btn_left_border {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #6e967a;
  color: #fff;
  font-size: 1.2em;


  border:1px solid transparent;
  padding:6px 12px;

}

.whitespace_wrap {
  white-space: pre;
}

.modal-content {
  background-color: rgb(77, 76, 76) ;
}

.modal-backdrop {
  /* background-color: green; */
}

.white-text {
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  /* color: orangered; */
  background-color: #fff;
  border-color: none;
}
.nav-tabs {
  border-bottom: none;

}
.nav-tabs .nav-link{
  /* color:red; */
  color: #6e967a;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
}
.nav-link:hover{
  /* color:red; */
  

}


.file_store {
  
  text-align: center;
  display: inline-block;
  margin: 0 16px;
}

.file_space {
  margin-left: 170px;
  margin-right: 170px;
}

.submit_btn {
  background-color: #6e967a;
  color: #fff;
  font-size: 1.5em;
  border-radius: 100px;
}

.caption {
  background-color: rgb(77, 76, 76);
  border-radius: 6px;
  text-align: center;
}
.image_name{
  color: #fff; 
  float: left;
}

.input_box:focus {
  box-shadow: none;
  border: none;
}

.disabled {
  color: #222!important;
}

a:hover {
  text-decoration:none;
  cursor:pointer;
}

.arrow_btn {
  color: #6e967a!important;
}
.arrow_btn:hover {
  color: #56755f!important;
}
.arrow_btn:focus {
  box-shadow: none;
}

.file_btn {
  color: #80C2AF;
}
.file_btn:focus {
  box-shadow: none;
}
.file_btn:hover {
  color: #80C2AF;
}




.download_icon{
  float: right;
}
.download_icon:focus {
  box-shadow: none;
}
.share_icon:focus {
  box-shadow: none;
}
.share_btn {
  background-color: #6e967a;
  color: #fff;
  outline: none;
  border: #6e967a;
  border-radius: 20px;
}

.share_btn:focus {
  background-color: #56755f!important;
}

.share_btn:hover {
  background-color: #56755f;
}

.start_btn {
  background-color: #6e967a;
  color: #fff;
  font-size: 1.5em;
  border-radius: 100px;
  width: 300px;
}

.img {
  /* margin: 0 16px; */
  /* float: left; */
  width:  215px;
  height: 185px;
  object-fit: cover;
  border-radius: 4px;
}

.block-icon {
  position: relative;
  display: inline-flex;
}

.icon-tag {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* width: 10px !important; */
  /* height: 10px !important; */
}

.labelSpace {
  margin-right: 50px;
}


.img_shared {
  width:  135px;
  height: 135px;
  object-fit: cover;
}

.img_item { 
  
  height: 20%;
  width: 20%;
  border-radius: 3px;
  /* display: inline-block; */


  /* height: 700px; */
  /* height: 300px; */
  /* width: 400px;  */
}

/* IMAGE PICKER */
.image_picker {
  /* width: 100%; */
  margin-left: 200px;
  margin-right: 200px;
}
.selected {
  /* background-color: rgba(110,150,138, 0.65); */
  background-color: #6e967a;
  opacity: 0.65;
  border-radius: 3px; 
}
.responsive {
  display: inline-block;
  margin: 0 6px;
  /* position: relative; */
  /* float: left; */
  /* opacity: 1; */
}
.thumbnail {
  border-radius: 7px; 
  padding: 5px; 
  width: 150px;
  opacity: 1;
  margin: 0;
}

.file_picker {
  display: inline-block;
  width: 30%;
  /* position: relative; */
}
/* 
.filesharing {

  background-color: #696565;
} */

h5 {
  font-size: 1.2em;
  /* font-size:1.0vw; */

  color:rgb(192, 192, 192);
  font-weight: 500;
}




.log_in_btn {
  background-color: #6e967a;
  color: #fff;
  font-size: 1.5em;
  border-radius: 100px;
  width: 200px;
}

.username_input {
  font-size: 1.2em;
  border-radius: 100px;
  outline: none;
}

.nav_btn {
  color: #6e967a;
  /* 9AEDED CEF9F2 80C2AF 669073 */
}

.nav_btn:hover {
  color: #56755f;
}



/* <div class="parent">
  <div class="child">Lorem ipsum.</div>
</div>    */

/* .parent {

} */
/* 
.parent .child {
  visibility: hidden;
} */

/* .parent:hover .child {
  visibility: visible;
} */



html {
  background-color: #222;
}

.login {
  background-image: url(./bg/t1.jpg);
  /* opacity: 0.8; */
  /* width: 100%;  aaaa_cp_filt.jpg */
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery_bg {
  background-image: url(./bg/mad.jpg);
  opacity: 0.94; 
  /* width: 100%;  aaa_filt.jpg */
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table th, .table td {
  vertical-align: middle;
  padding-bottom: 10px;

}

.table {
  text-align: center;
  width: 1200px ; 
  margin-left: auto;
  margin-right: auto; 
  border-bottom: 5px solid white;
  background-color: #222!important;
}

.general_bg {
  background-image: url(./bg/t2_filt.jpg); /* t2_filt  safe_filt */
  /* opacity: 0.94; */
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

.simple_bg { background-color: #222; }
.top_space { padding: 200px; }
.top_login_space { padding: 130px; }
.top_file_space { padding: 100px; }
.top_gallery_space { padding: 150px; }
.space { height: 250px; }
.smaller_space { height: 100px; }


.footer_space {
  /* height: 330px; */
  height: 230px;
}

.logo {
  height: 50px;
  /* float: right; */
}

.subtitle {
  /* font-weight: bold; */
  color: #6e967a; /* CEF9F2 80C2AF rgb(145, 145, 145) */
  font-size: 1.6em;
}

p, h2 {
  color: #6e967a;
}

.p1 {
  color: #fff;
  font-size: 1.1em;

}

.err {
  color: red;
}

h4 {
  color: #fff;
  font-size: 3.5em;
  font-weight: bold;
  /* font-family: gibson-semibold,Arial,sans-serif; */
}

h3 {
  color: #fff;
  font-size: 2.0em;
  /* font-family: gibson-semibold,Arial,sans-serif; */
  /* font-weight: bold; */
}

.nav {
 /*222 2A2D34 2A2F3A*/
  background-color: #1e1e1e; 
  height: 60px;

  /* #414141 #C0C0C0 99FFFF rgb(19,  115, 161) */
  /* padding: 40px; */
  /* color: white; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  color: #80C2AF;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
